blinker
certifi
characterai
charset-normalizer
click
colorama
Flask
idna
imageio
imageio-ffmpeg
itsdangerous
Jinja2
MarkupSafe
numpy
Pillow
proglog
requests
tls-client
tqdm
urllib3
websockets
Werkzeug
gunicorn
asyncio
